body {
    margin: 0;
}

.header {
    position: fixed;
    top: 0;
    padding-left: 10px;
    width: calc(100% - 10px);
    background: white;
    z-index: 90;
    height: var(--header-h);
}

.footer {
    position: static;
    /* margin-top: calc(--header-h + 230px); */
    /* left: 400px; */
    background: white;
    padding: 12px;
    z-index: 50;
}

h2 {
    margin: 10px 0;
    font-size: 25px;
}

p {
    margin: 5px 0;
    font-size: 14px;
}

button {
    margin: 7px 5px;
    padding:12px 12px;
    border: 1px solid #000000;
    border-radius: 6px;
    font-size: 14px;
}

.submit-btn {
    margin-left: 50px;
    background-color: #ffff005a;
}

/* 選択禁止（ドラッグ対策） */
button,
table,
th,
td {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* テーブル共通 */
table {
    /* border-collapse: collapse; */
    border-collapse: separate;
    border-spacing: 0;
    /* width: 370px; */
    width: calc(100% - 10px);
    margin: 0 5px;
    margin-top: var(--header-h);
}

th,
td {
    cursor: pointer;
    border: 1px solid #ccc;
    width: auto;
    height: 26px;
    text-align: center;
    font-size: 11px;
}

/* 選択不可マス（全画面共通） */
td.disabled {
    background-color: #767b84ff;
    cursor: not-allowed;
}

td.disabled:hover {
    background-color: #767b84ff;
}

/* ===== 有効マス（未選択） ===== */
td.available {
    background-color: #e3f2fd;
    /* 青 */
}

/* ===== 集計用 ===== */
td.has-bad {
    background-color: #ffebee;
    /* 赤 */
}

td.has-unknown {
    background-color: #fff8e1;
    /* 黄 */
}

tr:first-child th {
    position: sticky;
    top: var(--header-h);
    background-color: #ffffffce;
    z-index: 80;
}

th:first-child,
td:first-child {
    background-color: #dddddd;
    width: 40px;
}

tr:first-child th:first-child {
    top: var(--header-h);
    background-color: #b5b5b5;
}

tr:first-child th:nth-child(2) {
    background-color: #ff8080ee;
}

tr:first-child th:last-child {
    background-color: #a5afd6ee;
}
