body {
    margin: 0;
    cursor:default;
    overflow: hidden;
}

.header {
    position: fixed;
    top: 0;
    padding-left: 10px;
    background: #ffffff;
    z-index: 90;
    height: var(--header-h);
}

.headerTop {
    display: flex;
    align-items: center;
}

.headerTop button {
    cursor: pointer;
    margin-left: 10px;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 15px;
    color: #ffffff;
    background-color: #2c3bc9;
}

@media screen and (max-width: 399px) {
    .header {
        width: 390px;
        overflow: scroll;
    }
}

@media screen and (min-width: 400px) {
    .header { width: 100%;}
}

.footer {
    position: static;
    background: white;
    padding: 12px;
    z-index: 50;
}

h2 {
    margin: 10px 0;
    font-size: 25px;
}

p {
    margin: 5px 0;
    font-size: 14px;
}

button {
    cursor: pointer;
    margin: 7px 5px;
    padding:12px 12px;
    border: 1px solid #000000;
    border-radius: 6px;
    font-size: 14px;
}

.submit-btn {
    margin-left: 50px;
    background-color: #ffff005a;
}

/* 選択禁止（ドラッグ対策） */
button,
table,
th,
td {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* テーブル共通 */
.week-viewport {
    width: 100vw;
    overflow-x: auto;
    overflow-y: hidden;
}

.table-viewport {
    height: calc(100vh - var(--header-h) / 2);
    overflow-y: auto;
    overflow-x: hidden;
}

.week-slider {
    display: flex;
    width: 300vw;
}

.week-table {
    width: 100vw;
    flex-shrink: 0;
    border-collapse: collapse;
}

table {
    /* border-collapse: collapse; */
    border-collapse: separate;
    border-spacing: 0;
    width: calc(100vw);
    margin-top: var(--header-h);
}

th,
td {
    cursor: pointer;
    border: 1px solid #ccc;
    width: auto;
    height: 26px;
    text-align: center;
    font-size: 11px;
}

/* 選択不可マス（全画面共通） */
td.disabled {
    background-color: #767b84ff;
    cursor: not-allowed;
}

tr:nth-child(even) td.disabled {
    background-color: #706b74ff;
}

/* 有効マス（未選択) */
td.available {
    background-color: #e3f2fd;
}

tr:nth-child(even) td.available {
    background-color: #d3e2ed;
}

/* ===== 集計用 ===== */
td.has-bad {
    background-color: #ffebee;
    /* 赤 */
}

td.has-unknown {
    background-color: #fff8e1;
    /* 黄 */
}

tr:first-child th {
    position: sticky;
    top: var(--header-h);
    background-color: #ffffffce;
    z-index: 80;
}

th:first-child,
td:first-child {
    background-color: #dddddd;
    width: 40px;
}

tr:first-child th:first-child {
    top: var(--header-h);
    background-color: #b5b5b5;
}

tr:first-child th:nth-child(2) {
    background-color: #ff8080ee;
}

tr:first-child th:last-child {
    background-color: #a5afd6ee;
}

/* 画面全体のオーバーレイ */
#helpOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    /* 半透明 */
    display: none;
    /* 最初は非表示 */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* ヘルプの中身 */
#helpContent {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
    position: relative;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

#helpContent ul li {
    margin-top: 20px;
}

/* ×ボタン */
#closeHelp {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background: transparent;
    border: 1px solid #000000;
    font-size: 1.5rem;
    cursor: pointer;
}
