:root {
    --header-h: 285px;
}

.bad {
    background: #f6b6b6;
    border-color: red;
}

input {
    margin-bottom: 10px;
    font-size: 16px;
    border-color: #cccccc;
}

.unknown {
    background: #f6e6b6;
    border-color: orange;
}

/* ===== 選択不可マス ===== */
td.disabled {
    background-color: #767b84;
    /* グレー */
    cursor: not-allowed;
}

/* ホバーしても色変えない */
td.disabled:hover {
    background-color: #767b84;
}

/* モードボタン共通 */
.mode-btn {
    padding: 6px 12px;
    margin-right: 6px;
    border-radius: 6px;
    border: 2px solid #ccc;
    background: #f5f5f5;
    font-weight: bold;
}

/* アクティブ状態 */
.mode-btn.active.bad {
    background: #ffdddd;
    border-color: #ff6666;
}

.mode-btn.active.unknown {
    background: #fff3cd;
    border-color: #ffcc00;
}
