:root {
    --header-h: 205px;
}

/* 入力欄 */
input {
    margin-bottom: 10px;
    font-size: 16px;
    border-color: #cccccc;
}

/* 都合が悪いマス */
.bad {
    background: #f6b6b6;
}

tr:nth-child(even) .bad {
    background-color: #e6a6a6;
}

/* わからないマス */
.unknown {
    background: #f6e6b6;
}

tr:nth-child(even) .unknown {
    background-color: #e6d6a6;
}

/* モードボタン */
.mode-btn {
    padding: 6px 12px;
    margin-right: 6px;
    border-radius: 6px;
    border: 2px solid #ccc;
    background: #f5f5f5;
    font-weight: bold;
}

.mode-btn.bad {
    background: #ffdddd;
    border-color: #ff6666;
}

.mode-btn.unknown {
    background: #fff3cd;
    border-color: #ffcc00;
}

#resetBtn {
    border-color: #000000;
}
