:root {
    --header-h: 195px;
}

a {
    font-size: 20px;
}

.popup {
    position: absolute;
    background: #fff;
    border: 1px solid #aaa;
    padding: 8px;
    font-size: 12px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1000;
}

.popup.hidden {
    display: none;
}
