<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>スケジュール作成</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/create.css') }}">
</head>

<body>
    <div class="header">
        <div class="headerTop"><h2>スケジュール作成</h2><button id="helpBtn">?</button></div>
        <p>予定を作成したい時間帯を選択してください。</p>

        <button class="preweek-btn" onclick="prevWeek()">◀ 前の週</button>
        <button class="nextweek-btn" onclick="nextWeek()">次の週 ▶</button>
        <button class="submit-btn" onclick="create()">この時間帯で作成</button>
    </div>

    <div class="week-viewport">
        <div class="table-viewport">
            <div class="week-slider" id="weekSlider">
                <table class="week-table" id="grid-prev"></table>
                <table class="week-table" id="grid-now"></table>
                <table class="week-table" id="grid-next"></table>
            </div>
        </div>
    </div>

    <div id="helpOverlay">
        <div id="helpContent">
            <h2>作成画面の使い方</h2>
            <ul>
                <li>表のマスをクリックして、予定候補とする日時を選択します。</li>
                <p>※例えば 7:00 とは 7:00 ~ 7:30 を想定しています</p>
                <li>「◀ 前の週」「次の週 ▶」ボタンで週を切り替えられます。</li>
                <li>「この時間帯で作成」ボタンから、スケジュールを作成できます。</li>
                <li>リロードすることで選択する前の状態に戻ります</li>
            </ul>
            <h3>＜スマートフォン限定＞</h3>
            <ul>
                <li>長押ししてドラッグすることで、複数のマスを一度に選択できます。</li>
                <li>横スクロールでも週を切り替えられます。</li>
            </ul>
            <button id="closeHelp">閉じる</button>
        </div>
    </div>

    <script>
        const today = "{{ today }}";
    </script>
    <script src="/static/grid.js"></script>
    <script src="/static/create.js"></script>

</body>
</html>
