<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>スケジュール作成</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/create.css') }}">
</head>

<body>
    <div class="header">
        <h2>スケジュール作成</h2>
        <p>予定を作成したい時間帯を選択してください。</p>

        <button class="preweek-btn" onclick="prevWeek()">◀ 前の週</button>
        <button class="nextweek-btn" onclick="nextWeek()">次の週 ▶</button>
        <button class="submit-btn" onclick="create()">この時間帯で作成</button>
    </div>

    <div class="week-viewport">
        <div class="table-viewport">
            <div class="week-slider" id="weekSlider">
                <table class="week-table" id="grid-prev"></table>
                <table class="week-table" id="grid-now"></table>
                <table class="week-table" id="grid-next"></table>
            </div>
        </div>
    </div>

    <script>
        const START_DATE = "{{ start_date }}";
    </script>
    <script src="/static/grid.js"></script>
    <script src="/static/create.js"></script>

</body>
</html>
