<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Co-Schedule</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/create.css') }}">
</head>
<body>
    <h1>Co-Schedule</h1>
    <h4>みんなの都合の良い日時を調整するアプリです。</h4>
    <a href="/setup">スケジュール作成へ☞</a>
    <br><br>
    <p>なめたようなスタート画面です…</p>
</body>
</html>
