<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>予定調整（回答）</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/schedule.css') }}">
</head>
<body>
    <div class="header">
        <div class="headerTop">
            <h2>回答</h2>
            <button id="helpBtn">?</button>
        </div>
        <strong>名前：</strong>
        <input id="name" type="text" placeholder="名前を入力してください">
        <br>
        <div class="button-container">
            <button id="badBtn" class="mode-btn" onclick="setMode('bad')">都合が悪い</button>
            <button id="unknownBtn" class="mode-btn" onclick="setMode('unknown')">わからない</button>
        </div>
        <div class="button-container">
            <button class="preweek-btn" id="prevBtn" onclick="prevWeek()">◀ 前の週</button>
            <button class="nextweek-btn" id="nextBtn" onclick="nextWeek()">次の週 ▶</button>
            <button class="submit-btn" onclick="submit()">予定を送信</button>
        </div>
    </div>

    <div class="week-viewport">
        <div class="table-viewport">
            <div class="week-slider" id="weekSlider">
                <table class="week-table" id="grid-prev"></table>
                <table class="week-table" id="grid-now"></table>
                <table class="week-table" id="grid-next"></table>
            </div>
        </div>
    </div>

    <div id="helpOverlay">
        <div id="helpContent">
            <h2>回答画面の使い方</h2>
            <ul>
                <li>明るいのマスをクリックして、都合が悪い日時・まだ予定が曖昧な日時を選択してください。<br>（未選択の日時は都合がよいと扱われます。）
                    <p>※時間の区切り幅はスケジュール作成時に設定された値に応じて変わります</p>
                </li>
                <li>上部のボタンで、選択モードを切り替えられます。</li>
                <li>「◀ 前の週」「次の週 ▶」ボタンで週を切り替えられます。</li>
                <li>名前を入力してから「予定を送信」ボタンから回答を送信できます。</li>
                <li>リロードすることで選択する前の状態に戻ります</li>
            </ul>
            <h3>＜スマートフォン限定＞</h3>
            <ul>
                <li>長押ししてドラッグすることで、複数のマスを一度に選択できます。</li>
                <li>横スクロールでも週を切り替えられます。</li>
            </ul>
            <button id="closeHelp">閉じる</button>
        </div>
    </div>

    <script>
        const AVAILABLE_SLOTS = {{ slots | tojson }};
        const SCHEDULE_ID = "{{ schedule.id }}";
        const EDIT_NAME = {{ edit_name | tojson }};
        const PREV_ANSWERS = {{ answers | tojson }};
        const TIME_INTERVAL = {{ time_interval | default(30) }};
    </script>
    <script src="{{ url_for('static', filename='utils/touch-handler.js') }}"></script>
    <script src="{{ url_for('static', filename='utils/swipe-handler.js') }}"></script>
    <script src="{{ url_for('static', filename='grid.js') }}"></script>
    <script src="{{ url_for('static', filename='schedule.js') }}"></script>
</body>
</html>
