<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>集計</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/summary.css') }}">
</head>

<body>
    <div class="header">
        <h2>集計画面</h2>
        <a href="/{{ schedule_id }}/answer">▶ 回答する</a>

        <br>

        <button class="preweek-btn" id="prevBtn" onclick="prevWeek()">◀ 前の週</button>
        <button class="nextweek-btn" id="nextBtn" onclick="nextWeek()">次の週 ▶</button>
    </div>

    <div class="week-viewport">
    <div class="week-slider" id="weekSlider">
        <table class="week-table" id="grid-prev"></table>
        <table class="week-table" id="grid-now"></table>
        <table class="week-table" id="grid-next"></table>
    </div>
    </div>

    <div class="footer">
        <div id="detailPopup" class="popup"></div>

        <div style="display: flex; align-items: center; gap: 10px;">
        <h3>回答者</h3>
        <p>編集できます。本人が編集しましょう。</p>
        </div>
        <ul id="respondentList"></ul>
    </div>

    <!-- ===== Flask → JS 受け渡し ===== -->
    <script>
    const START_DATE = "{{ start_date }}";
    const SCHEDULE_ID = "{{ schedule_id }}";
    const AVAILABLE_SLOTS = JSON.parse({{ slots_json | tojson }});
    </script>

    <script src="{{ url_for('static', filename='grid.js') }}"></script>
    <script src="{{ url_for('static', filename='summary.js') }}"></script>
</body>
</html>
