<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>集計</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/summary.css') }}">
</head>

<body>
    <div class="header">
        <div class="headerTop">
            <h2>みんなの予定</h2>
            <button id="helpBtn">?</button>
            <button id="showRespondentsBtn">回答者一覧</button>
        </div>
        <a href="/{{ schedule_id }}/answer">▶ 回答する</a>
        <div id="respondentPopup" class="popup" style="display: none;">
            <h3>この時間帯に回答した人</h3>
            <ul id="respondentPopupList"></ul>
        </div>

        <br>

        <button class="preweek-btn" id="prevBtn" onclick="prevWeek()">◀ 前の週</button>
        <button class="nextweek-btn" id="nextBtn" onclick="nextWeek()">次の週 ▶</button>
    </div>

    <div class="week-viewport">
        <div class="table-viewport">
            <div class="week-slider" id="weekSlider">
                <table class="week-table" id="grid-prev"></table>
                <table class="week-table" id="grid-now"></table>
                <table class="week-table" id="grid-next"></table>
            </div>
        </div>
    </div>

    <div class="footer">

        <div style="display: flex; align-items: center; gap: 10px;">
            <h3>回答者</h3>
            <p>編集できます。本人が編集しましょう。</p>
        </div>
        <ul id="respondentList"></ul>
    </div>

    <div id="detailPopup" class="popup"></div>

    <div id="helpOverlay">
        <div id="helpContent">
            <h2>集計画面の使い方</h2>
            <ul>
                <li>表のマスを長押しすると、その時間帯に回答した人が表示されます。</li>
                <p>※例えば 7:00 とは 7:00 ~ 7:30 を想定しています</p>
                <li>「◀ 前の週」「次の週 ▶」ボタン、または横スクロールで週を切り替えられます。</li>
                <li>「▶ 回答する」ボタンから、自分の予定を回答できます。</li>
                <li>回答者リストの名前から、回答内容を編集できます。</li>
            </ul>
            <button id="closeHelp">閉じる</button>
        </div>
    </div>

    <!-- ===== Flask → JS 受け渡し ===== -->
    <script>
    const SCHEDULE_ID = "{{ schedule_id }}";
    const AVAILABLE_SLOTS = JSON.parse({{ slots_json | tojson }});
    </script>

    <script src="{{ url_for('static', filename='grid.js') }}"></script>
    <script src="{{ url_for('static', filename='summary.js') }}"></script>
</body>
</html>
